In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import chi2_contingency

In [2]:
df=pd.read_csv('BuyerRatio.csv')
df.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [16]:
#create tow dimensional array for chi2 test

arr = np.array([[50,142,131,70],[435,1523,1356,750]])
arr

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [17]:
#chi2 test

stat,p,dof,expecte = stats.chi2_contingency(arr)

In [18]:
stat

1.595945538661058

In [19]:
p

0.6603094907091882

In [7]:
dof

3

In [15]:
expecte

array([[  25.56054714,   87.74909481,  236.47458764,   43.21577042],
       [ 459.43945286, 1577.25090519, 4250.52541236,  776.78422958]])

# compare p_value with alpha = 0.05
# pvalue>0.05
# we fail to reject null Hypothesis because p_value is Greater than alpha