In [9]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import chi2_contingency

In [3]:
df=pd.read_csv('Costomer+OrderForm.csv')
df.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [4]:
df.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [5]:
df.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [6]:
df.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [7]:
df.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [8]:
# create array 

arr=np.array([[271,267,269,280],[29,33,31,20]])
arr

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [12]:
#chi2 test

stat,p,dof,expecte = chi2_contingency(arr)

In [13]:
stat

3.858960685820355

In [14]:
p

0.2771020991233135

In [15]:
dof

3

In [16]:
expecte

array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]])

# compare p_value with alpha = 0.05
# pvalue>0.05
# we fail to reject null Hypothesis because p_value is Greater than alpha