In [8]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
df = pd.read_csv('Cutlets.csv')
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [10]:
df.isnull().sum()

Unit A    0
Unit B    0
dtype: int64

In [14]:
df.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [17]:
p_value=stats.ttest_ind(df['Unit A'],df['Unit B'])
print('p_value=',p_value)

p_value= Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

# compare p_value with alpha = 0.05
# pvalue>0.05
# we fail to reject null Hypothesis because p_value is Greater than alpha