In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
df=pd.read_csv('Cars.csv')
df

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [3]:
loc=df.MPG.mean()
scale=df.MPG.std()

In [4]:
Greater_38 = np.round(1-stats.norm.cdf(38,loc,scale),3)
Greater_38

0.348

In [5]:
Less_40 = np.round(stats.norm.cdf(40,loc,scale),3)
Less_40

0.729

In [6]:
Greater_20 = np.round(1-stats.norm.cdf(20,loc,scale),3)
Greater_20

0.943

In [7]:
Less_50 = np.round(stats.norm.cdf(50,loc,scale),3)
Less_50

0.956

In [8]:
Greater_20_and_less = (Less_50)-(Greater_20)
Greater_20_and_less

0.013000000000000012